@media (max-width:600px) {

  .container nav .link{
      display:flex ;
      flex-direction: column;
      padding: 1.0rem 2rem;
  }

  .container nav .link a{
      border: none;
      padding: 10px 0;
  }
  .container h2{
      display: none;
  }

  .container h1,h2{
      font-size: 1.5rem;
  }

  .work{
      display: grid;
      grid-template-columns: 1fr;
  }

  .other{
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .aldehyde{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .aldehyde h6{
      margin-right: 2rem;
  }

  footer{
      display: flex;
      height:150px;
  }

  footer div a .fab{
      display: none;
  }

  footer p{
      /* margin-top: 5px; */
      display:inline;
  }

}